body {
  padding-top: 50px;
}

#evento-home {
  padding: 40px 15px;
  text-align: center;
}

.evento-content-container {
  border: 0px;
  padding: 0px;
}

#evento-login {
  width: 40%;
  border-left: 5px solid #2196f3;
  background-color: #ddffff;
  margin: auto;
  margin-top: 5%;
  padding: 1%;
}

.evento-login-button {
  width: 100%;
  padding: 1%;
}
